.features-container {
  max-width: 1010px;
  margin: 0 auto;
  margin-top: 56px;
  padding: 0 10px;
}

.features-wrapper {
  display: flex;
}

.features-left {
  background: url("../../../images/features/group.png") no-repeat 28px -5px,
    url("../../../images/features/ellipse.png") no-repeat 0 292px;
  width: 40%;
  position: relative;
  top: 40px;
}

.features-right {
  width: 60%;
}

.features-right h2 {
  margin-top: 14px;
  text-align: justify;
}

.features {
  margin-top: 14px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* media query */
@media only screen and (max-width: 1200px) {
  .features-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .features-left {
    width: 100%;
    background: url("../../../images/features/group.png") no-repeat top,
      url("../../../images/features/ellipse.png") no-repeat center 270px;
    position: relative;
    top: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .features {
    grid-template-columns: 1fr;
  }
  
  .features-right h2 {
    text-align: center;
    font-size: 25px;
  }
}


@media only screen and (max-width: 576px) {
  .features-right {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 350px) {
  .features-right {
    width: 100%;
  }
}
