.footer {
  background: #e9eef7;
  padding: 42px 15px 32px;
  margin-top: 89px;
}

.footer-wrapper {
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer left */
.footer-left {
  width: 25%;
}

.footer-logo {
  width: 81px;
}

.footer-left p {
  line-height: 150%;
  text-align: justify;
  letter-spacing: -0.005em;
  color: #575757;
  margin-top: 14px;
}

.footer-left ul {
  display: flex;
  align-items: center;
  margin-top: 27px;
}

.footer-left ul li {
  margin-right: 10px;
}

.footer-left ul li a img {
  padding: 5px;
  background: #e8eef6;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08),
    inset 0px 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 200px;
}

/* footer quick links */
.footer-quick-links ul li {
  margin-top: 14px;
}

.footer-quick-links ul li a {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.005em;
  color: #1e1e1e;
}

/* footer links */
.footer-links ul li {
  margin-top: 14px;
}

.footer-links ul li a {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.005em;
  color: #1e1e1e;
}

/* footer right */
.footer-right ul li {
  margin-top: 14px;
}

.footer-right ul li span {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.005em;
}

.opening-day {
  margin-right: 16px;
}

.copy-right {
  max-width: 1010px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 0 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.005em;
  color: #1e1e1e;
}

/* media query */
@media only screen and (max-width: 850px) {
  .footer-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .footer-left {
    width: 40%;
  }

  .footer-quick-links {
    margin-top: 25px;
  }
  
  .footer-links {
    margin-top: 35px;
  }

  .footer-right {
    margin-top: 35px;
  }

  .copy-right {
    text-align: center;
  }
}

@media only screen and (max-width: 576px) {
  .footer-left {
    width: 70%;
  }

  .footer-left p {
    text-align: center;
  }

  .footer-left ul {
    justify-content: center;
  }

  .footer-left ul li {
    margin: 0 5px;
  }

  .footer-right ul {
    text-align: left;
  }
}
