/* hero left */
.hero-container {
  background: url("../../../images/hero-left-shape.png") no-repeat 0 327px, url("../../../images/hero-right-shape.png") no-repeat 75% 450px;
  padding-bottom: 55px;
}

.hero-wrapper {
  max-width: 1010px;
  margin: 0 auto;
  margin-top: 55px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.hero-left {
  width: 55%;
}

.hero-left h1 {
  font-weight: 500;
  font-size: 60px;
  line-height: 73px;
  color: #1e1e1e;
}

.hero-left p {
  font-size: 16px;
  line-height: 19px;
  color: #575757;
  margin-top: 14px;
  width: 80%;
}

.hero-left-button {
  margin-top: 32px;
}

.hero-counter {
  display: flex;
  align-items: center;
  margin-top: 56px;
}

.hero-counter .counter {
  margin: 0 10px;
  width: 151px;
  text-align: center;
}

.hero-counter .counter h3 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 7px;
  color: #642dff;
}

.hero-counter .counter span {
  color: #575757;
}

/* hero right */
.hero-right {
  background: url("../../../images/hero-right-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 45%;
  position: relative;
}

.regular-checkup-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 15px 29px;
  background: #642dff;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  position: relative;
  top: -150px;
  left: -65px;
}

.regular-checkup-button img {
  position: absolute;
  left: 15px;
  top: 9px;
}

.regular-checkup-button span {
  margin-left: 25px;
}

.meet-doctors {
  position: absolute;
  width: 229px;
  height: 133px;
  padding: 10px 16px;
  left: 62%;
  top: 67%;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.meet-doctors h5 {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
}

.meet-doctors .doctor {
  margin-left: -5px;
}

.plus-icon {
  margin-left: 12px;
}

.rectangle img {
  display: block;
  margin-top: 6px;
}

/* media query */
@media only screen and (max-width: 1200px) {
  .hero-wrapper {
    flex-direction: column;
  }

  .hero-left {
    width: 70%;
  }
  .hero-right {
    width: 70%;
  }
}

@media only screen and (max-width: 960px) {
  .hero-left h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .hero-left h1 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 576px) {
  .hero-container {
    background: url("../../../images/hero-left-shape.png") no-repeat 0 78%, url("../../../images/hero-right-shape.png") no-repeat 100% 45%;
    padding-bottom: 55px;
  }

  .hero-left {
    width: 100%;
    text-align: center;
  }

  .hero-left p {
    margin-left: auto;
    margin-right: auto;
  }

  .hero-right {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../../../images/hero-right-bg.png");
    background-repeat: no-repeat;
    background-position: 0 16%;
    background-size: contain;
  }

  .regular-checkup-button {
    left: 20px;
    top: 0;
  }

  .meet-doctors {
    top: 15px;
    left: 20px;
    position: relative;
  }
}

@media only screen and (max-width: 410px) {
  .hero-left h1 {
    font-size: 35px;
  }
}