/* common style */
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.shared-button {
  background: #2d89ff;
  color: white;
  font-size: 16px;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}

.highlight-1 {
  color: #2d89ff;
}

.highlight-2 {
  color: #642dff;
}

.text-center {
  text-align: center;
}

.shared-h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #1e1e1e;
}

.shared-h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
