/* common style */
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.shared-button {
  background: #2d89ff;
  color: white;
  font-size: 16px;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}

.highlight-1 {
  color: #2D89FF;
}

.highlight-2 {
  color: #642DFF;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}